.sidebar {
  width: 35rem;
  /* height: 100vh; */

  /* border: 2px solid rgb(191, 191, 191); */
  /* border-radius: 5px; */

  /* color: white; */
  /* background-color: whitesmoke; */
}

/* .collapse {
  color: white;
  background-color: aqua;
} */

.section {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.simulation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.node_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.icon_container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(187, 187, 187);
  border-radius: 100%;
  cursor: grab;
  background-color: steelblue;
}

.icon {
  width: 30px;
  height: 30px;
  pointer-events: none;
}
