/* Style the context menu */
/* .context_menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
}

.menu_option {
  padding: 5px;
  cursor: pointer;
} */

.context_menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 15rem; */
  font-family: "Arial", sans-serif;
}

.menu_option {
  /* padding: 8px 12px; */
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: normal;
}

.menu_option:hover {
  /* background-color: #f0f0f0; */
  background-color: #eaeaea;
}

/* .modalRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
} */

.modalRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Add your existing styles here */

.reportContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  gap: 0.5rem;
}

.label {
  font-weight: bold;
  font-size: 18px;
  flex: 0 0 auto; /* Prevent the label from growing */
  width: 100px; /* Set a fixed width for the labels */
  text-align: center;
}

.offenderLabel {
  color: red; /* Change color for the offender label */
}

.value {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.chartBox {
  flex: 1;
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated_line {
  /* stroke-width: 3; */
  stroke-dasharray: 0.5;
  stroke-dashoffset: 12.5;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 15;
  }
  100% {
    stroke-dashoffset: 30; /* If the reverse movement is changed to - 500 */
  }
}
