body {
  /* this two property added in order to disable scrolling */
  height: 100vh;
  overflow: hidden; /* Disable scrolling */
}

.App {
  /* height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; */
}

/* for ant design */
/* .ant-slider .ant-slider-handle {
  box-shadow: 0 0 0 2px #ff0606;
} */
.ant-collapse {
  border-bottom: 2px solid rgb(191, 191, 191);
}
