.graph {
  /* background-color: black; */
  /* width: 1000px; */
  flex: 1;
  border: 2px solid rgb(191, 191, 191);
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  line-height: 1.4;
  z-index: 9999;
}

.winker_animation {
  stroke: #eb2943 !important;
  animation: winker_animation_frame 1s infinite linear;
}

@keyframes winker_animation_frame {
  50% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 5;
  }
}

.lineError {
  fill: none;
  stroke-width: 3;
  z-index: 5;
  stroke-dasharray: 10;
  stroke-dashoffset: -110;
  stroke-linecap: round;
  animation-direction: reverse;
  animation: stroke 6s infinite linear;
  stroke: #eb2943;
}

.lineWarning {
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 100;
  stroke-dashoffset: -500;
  stroke-linecap: round;
  animation-direction: reverse !important;
  animation: stroke 10s infinite linear;
  stroke: #49d8a1;
}
